### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### python
__pycache__/


log/*
!log/.gitkeep
data/*
!data/.gitkeep

venv/
test/
conf/.env
.pyc
.cursorignore
.cursor